
  #adding_button {
    background-color: gray;
    color: white;
    border: none;
    width: 140px;
    border-radius: 3px;
    font-size: 12px;
    padding: 10px;
    outline: none;
    text-align: center;
    margin: 40px;
    display: block;
  }
  
  #adding_button:hover {
    background-color: yellowgreen;
  }

  